*
{
    margin          : 0;
    padding         : 0;
    box-sizing      : border-box;
    font-family     : 'Frijole', cursive; 
}

.header
{
    background-image: url("../img/fondo.gif");
    background-size : cover;
    background-repeat:no-repeat ;
    background-position:center;
    height          : 100vh;
    position        : relative;
}

.header__content
{
    background-color:rgba(0, 0, 0, .5);
    position        : absolute;
    top             : 0;
    left            : 0;
    bottom          : 0;
    right           : 0;
}

.title 
{
    /* border          : 2px solid; */
    width           : max-content;
    font-size       : 2.5rem;
    margin          : .5rem auto;
}

.nav 
{
    /* border          : 2px solid; */
    display         : flex;
    background-color: #333;
    color           : #fc0;
    padding         : 1rem;
    width           : 100%;
    overflow        : hidden;
    /* font-size       : 2rem; */
    position        : relative;
    position        : sticky;
    top             : 0;
}

.txt
{
    /* border          : 2px solid; */
    background-color:#000;
    width           : 30%;
    text-align      : center ;
    transform       : rotate(-45deg);
    position        : absolute;
    left            : -12%;
}

.txt2
{
    margin          :  auto ;
}


.main 
{
    padding-bottom: 100vh;
}